/* fonts */
/* 
body{
    background-color:rgb(20, 221, 194);
  }
h1{
   color:rgb(207, 166, 32);
   font-family: "Press Start 2P";
}
 p{
    color: blueviolet;
    font-family:"consolas", sans-serif;
    font-style:italic;
    font-weight:bold;
    text-decoration:cyan dotted underline;
    font-size: 18px; */
 /* } */



 /* borders */

 /* h1{
   border-top-style:dotted;
   border-bottom-style: dotted;
   border-left-style:double;
   border-left-color:silver;
 }
p{
   border-style:outset;
   border-width: 5px;
   border-color:blue;
   border-radius:10px;
   padding: 5px;
} */



/* background */
/* body{
     background-image: url("photo.jpg");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
}
h1{
   bcakground:linear-gradient(to right, skyblue , purple); 
   background-repeat: no-repeat;
   background-attachment: fixed;
}

p{
   background: linear-gradient(to left, skyblue, purple);
   background-repeat: no-repeat;
   background-attachment: fixed;
} */

/* margins */

/* #box1{
   border: 5px solid;
   width: 250px;
   height: 350px;
   font-size: 22px;
   background: greenyellow;
   padding: 10px;
   margin-top: 50px;
   margin-left:auto;
   margin-bottom: 50px;
   margin-right: auto;

}
#box2{
   border: 5px solid;
   width: 250px;
   height: 350px;
   font-size: 22px;
   background: lightblue;
   padding: 10px;
   margin-top: 50px;
   margin-left:50px;
   margin-bottom: 50px;
   margin-right: 50px;

} */


 /* float */
   /* .box{
   width: 100px;
   height: 100px;
   border: 1px solid;
   font-size: 40px;
   text-align:center;
   background:tomato;

   float: left;
}
p{
   clear:left;

} */


  /*  position*/

/* 
  #box1{
   border: 1px solid;
   height: 300px;
   width: 300px;
   background-color:skyblue ;

   position:sticky;
   top: 0px;
   bottom:0px;
  }
  #box2{
   border: 1px solid;
   height: 100px;
   width: 100px;
   background-color: palevioletred;

   position: absolute;

   top: 100px;
   left: 100px;


  } */

  /* pseudo classes */
/* 
  a:link{
   color:aquamarine;
  }
  a.visited{
   color:grey;
  }

a.hover{
   color: pink;

}

a.active{
   color: blanchedalmond;
}

button:hover{
   background-color: lightgray;
}

button:active{
   background-color:blueviolet;

}
li:nth-child(odd){
   background-color:rgb(108, 108, 168);

}

li:nth-child(even){
   background-color:lightblue;

} */



/* shadows */

/* h1{
   text-shadow: 0px 0px 5px yellow, 0px 0px 0px red;
}
h1:hover{
   box-shadow: 5px 5px 5px black;
} */


/* icons */

/* .fa-twitter{
   color:blue;
}
.fa-youtube{
   color:red;
} */

/* transform */
/* 
#box1{
   border: 5px solid;
   width: 250;;
   height: 250;
   font-size: 225px;
   text-align: center;
   background:lightskyblue;

   transform:translateX(50px);
   transform:translateY(50px);
   translate:translate(50px, 50px);
   translate:rotate(180deg);
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

.protfolio-container{
   min-height: 100vh;
   width: 100%;
   display: flex;    

}
.navlist{
   display: flex;
   gap:3.5rem;
   height: 15vh;
   width: 100%;
   justify-content: center;
   align-items: center;
   position:fixed ;
}

.navlist{
   list-style:none;
}

.navlist li {
   text-decoration: none;

}
.navlist li a{
   text-decoration: none;
   text-transform: uppercase;
   font-size: 1rem;
   color: white;
   position: relative;

}

.left-container{
   background:#262525 ;
   width: 70%;
   padding-left: 3rem;
}

.right-container{
   background:linear-gradient( -45deg, #3877FF, #262525 70%);
   width: 30%;
 
}
.left-container, .right-container{
height: 100vh;
display: flex;
align-items: center;

}
.icons .fa-brands{
   color: #bbb;
   font-size: 1.7rem;
}
   

.icons{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 3rem;
}

.content{
   margin-left:4rem;
}

.content .intro span{
font-size: 1.5rem;
color:#5DB9EE;
}
.content .intro{
color:white;

}
.content h1{
   font-size:3rem ;
   color: #5DB9EE;

}
.content .detail{
   font-size: 1.1rem;
   color: #FFF;
   max-width: 38rem;
   margin: 1.1rem 0rem 3rem;
}

.btn-container button{
   border: .1rem solid #5DB9EE;
   font-size: 1.1rem;
   padding: .8rem 1.5rem;
   border-radius: .5rem;
   cursor: pointer;
   transition: .5s ease;

}
button:nth-child(1){
   background: #5DB9EE;
   color:#262525 ;
}

button:nth-child(2){
   background: transparent;
   color: #5DB9EE;
   margin: 1rem;
}
button:nth-child(1):hover{
background: transparent;
color: #5DB9EE;
}
button:nth-child(2):hover{
   background: #5DB9EE;
   color: #262525;
   }

   .icons .fa-brands:hover{
      cursor: pointer;
      background: linear-gradient(#FFF, #3877FF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
   .design .circle{
      position: absolute;
      aspect-ratio: 1;
      border-radius: 50%;
      top: 58%;
      left: 70%;
      transform: translate(-50%, -50%);
   }

   .circle:nth-child(1){
         width: 38rem;
         background:linear-gradient(90deg, transparent 50%,#262525 50%);
   }

   .circle:nth-child(2){
      width: 30rem;
      background-image:url("photo1.jpeg") ;
      background-size: 100%;
      background-repeat: no-repeat;
      border: .2rem solid white;
      box-shadow:
      0 0 1rem #FFF,
      inset 0 0 1rem #FFF,
      0 0 2rem #3877FF,
      inset 0 0 2rem #3877FF,
      0 0 4rem #3877FF,
      inset 0 0 4rem #3877FF
      ;
 }
 .navlist li a:after, .navlist .active::after {
content: "";
position: absolute;
background: white;
width: 100%;
height: .1rem;
left: 0;
bottom: -5px;
transform: scaleX(0 );
transform-origin: bottom right;
transition: transform .5s;
 }
.navlist li a:hover::after, .navlist .active::after{
   transform: scaleX(1);
   transform-origin: bottom left;
}